* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #4CAF50;
    align-items: start;
    display: flex;
    justify-content: center;
    
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    text-decoration: none;
    color: whitesmoke;
}